<h2>search</h2>

<% if @user.empty? %>
	<p>nichts gefunden </p>
<% else %>
	<% @user.each do |u| %> 
		<%=  u.firstname %> <%=  u.lastname %> | 
		<button><%= link_to "Add Friend", friendadd_path(:friend_id=>u.id) %></button><p>
	<% end %>
<% end %>
