<h2>Friendlist</h2>
<hr>
<table>

	<% @friends.each do |f| %>
	<tr>
		<td>
			<%=  f.firstname %>
		</td>
		<td>
			<%=  f.lastname %>
		</td>
		<td>
			<p><%= link_to "delete friend", "#" %> </p>
		</td>
	</tr>
		
	<% end %>
</table