// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages{
	
	width: 500px;
	height: auto;
	margin-left: auto ;
  	margin-right: auto ;
}

.msg-left{

	text-align: left;

}

.msg-right{
	
  	text-align: right ;
 
}