// Place all the styles related to the socialnetworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{

	width: auto;
	height: 120px;
	background-repeat: no-repeat;
	background-position:center;
	background-image:url('facebug.jpg');
	background-color: #666666;
}

.content{
	
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: 0px;
	margin-top: 20px;
	text-align: center;
}

.navigationbar{
	text-align: center;
	margin-top: -10px;	
	padding-top: 4px;
	width: auto;
	height: 80px;

	background-color: #999999;
	a:link{color:#fff;}
	a:visited{color:#fff;}
	a:hover{color:#999999;}
	a:active{color:yellow;}

}

.a_alert{
	background-color: greenyellow;
}

.post_info{
	
	width: 500px;
	height: auto;
	margin-left: auto ;
  	margin-right: auto ;
	text-align: left;
}
